#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    tapping-term-ms = <250>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <10 11>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <13 12>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };

        combo-colon {
            bindings = <&kp RC(COLON)>;
            key-positions = <19 20>;
        };

        hifun {
            bindings = <&kp MINUS>;
            key-positions = <18 19>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        esc_lang2: esc_lang2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp ESC>, <&macro_tap>, <&kp ESC &kp LANG2>;

            label = "ESC_LANG2";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q               &lt 6 W         &lt 5 E          &mt LS(LA(LCTRL)) R             &mt LS(LG(K)) T                                                   &mt F8 Y             &mt F7 U  &mt RS(RIGHT_WIN) I      &mt ASTERISK O       &mt UNDERSCORE P
&lt 3 A             &lt 2 S         &lt 1 D          &mt ESC F                       &mt LANG2 G      &kp LG(KP_N0)             &kp PLUS               &kp H                &kp J     &kp K                    &kp L                &mt COLON SEMICOLON
&kp Z               &mt LEFT_ALT X  &mt LCTRL C      &mt LS(LA(LC(LEFT_GUI))) V      &mt F5 B         &mt F3 F4                 &sk RS(RG(F))          &kp N                &kp M     &mt RIGHT_CONTROL COMMA  &mt LEFT_ALT PERIOD  &mt TILDE MINUS
&sk LC(LEFT_ARROW)  &tog 6          &mt LG(V) LG(C)  &mt LS(LA(LC(LEFT_GUI))) LANG2  &mt LWIN TAB     &mt LEFT_SHIFT SPACE      &mt RIGHT_SHIFT ENTER  &mt RIGHT_WIN LANG1                                                          &kp LC(RIGHT)
            >;

            sensor-bindings = <&inc_dec_kp LG(KP_MINUS) LG(KP_PLUS)>;
        };

        FUNCTION {
            bindings = <
&trans        &trans                &trans         &trans            &trans                            &kp F1          &kp TAB   &kp ESC       &kp TAB    &kp UNDER
&sk LC(LEFT)  &sk LS(LG(LEFT_GUI))  &sk RS(RG(F))  &sk LC(RIGHT)     &trans        &trans      &trans  &kp LEFT_ARROW  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &kp COLON
&trans        &trans                &trans         &trans            &trans        &trans      &trans  &kp BACKSPACE   &kp DEL   &kp RC(A)     &kp RC(E)  &kp RC(K)
&trans        &trans                &trans         &kp LEFT_CONTROL  &kp LEFT_GUI  &trans      &trans  &kp MINUS                                          &trans
            >;
        };

        NUM {
            bindings = <
&kp MINUS                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9   &kp PLUS                                                     &kp PIPE           &kp AMPERSAND  &kp LEFT_BRACKET      &kp RIGHT_BRACKET             &kp AT_SIGN
&kp SLASH                   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp DOLLAR        &kp DOLLAR    &kp LC(LA(KP_NUMBER_0))      &kp ASTERISK      &mt CARET GRAVE    &kp EQUAL      &kp LEFT_PARENTHESIS  &mt DOLLAR RIGHT_PARENTHESIS  &kp EXCLAMATION
&mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3   &kp PERIOD    &kp EQUAL                    &kp CARET         &kp BACKSLASH      &kp HASH       &kp LEFT_BRACE        &kp RIGHT_BRACE               &kp QUESTION
&trans                      &trans           &trans           &kp LEFT_CONTROL  &kp LEFT_GUI  &trans                       &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES                                                                     &kp TILDE
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                            &trans      &kp N7  &kp N8  &kp N9  &kp PLUS
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END       &trans      &trans  &kp N0      &kp N4  &kp N5  &kp N6  &kp SLASH
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans        &trans      &trans  &kp PERIOD  &kp N1  &kp N2  &kp N3  &kp PERCENT
&trans          &trans                  &trans          &kp LEFT_CONTROL         &kp LEFT_GUI  &trans      &trans  &trans                              &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans    &trans         &trans      &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &mkp MB2  &mkp MB3       &mkp MB1    &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB1  &mkp MB2  &trans
&trans  &trans    &kp BACKSPACE  &kp DELETE  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans    &trans         &trans      &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans           &trans           &trans            &trans            &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &msc MOVE_Y(20)  &msc MOVE_Y(15)  &msc MOVE_Y(-15)  &msc MOVE_Y(-20)  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans           &trans           &trans            &trans            &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                                                &trans
            >;
        };

        layer_6 {
            bindings = <
&bt BT_CLR  &bt BT_CLR_ALL  &trans        &trans        &trans                      &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans      &kp F10         &kp F4        &kp F3        &kp F5  &trans      &kp F1  &kp F2        &kp F3        &kp F4        &kp F5        &kp F6
&trans      &kp NUMBER_1    &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &kp F7  &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
&trans      &to 0           &trans        &trans        &trans  &trans      &trans  &trans                                                  &trans
            >;
        };
    };
};
